<!DOCTYPE html>
<html>

  <head>
    <title>CitiBike Travel Estimator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">    
  </head>
  <body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="https://console.bluemix.net/">
        <span class="wordmark--left">IBM</span>
        <span class="wordmark--right">Bluemix</span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.theweathercompany.com/" role="menuitem">
          The Weather Company
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://console.bluemix.net/catalog/" role="menuitem">
          Services
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://console.bluemix.net/docs/" role="menuitem">
          Docs
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://watson.service-now.com/wcp" role="menuitem">
          Support
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com" role="menuitem">
          Community
        </a>
        </li>
      </nav>
    </div>
  </header>
  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="static/images/service-icon.png" alt="Natural Language Classifier API Icon">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="static/images/service-icon.png" alt="Natural Language Classifier API Icon"> CitiBike Travel Estimator
        </h1>
        <div class="banner--service-description">
            CitiBike has teamed with IBM predict your travel time.  Through their leveraging of Watson analytics, The Weather Company data and IoT and Bluemix cloud services, IBM can provide accurate trip forcasting with just a few peices of customer information.  Please submit the information below.
        </div>
      </div>
    </div>
  </div>
  
    <table class="center">
      <tr>
        <td>
          <h2 id="demo-header">User Information</h2>
        </td>
      </tr>
      <tr>
          <td>            
            <br>
            <form name="userInfo" action="/pred_time" method="post">
              <br>  
              <p class="userData"> Is the starting location correct?  If not, please select below.</p>
              <input type="text"  required="required" value={{ start_station|safe }} list="stations" name="start_station" id="start_loc"><br>
              <br>
              <p class="userData"> Gender: </p>
              <input type="radio" class="rButton" required="required" name="gender" value="1"><span class="convText">Male</span><br>
              <input type="radio" class="rButton" required="required" name="gender" value="2"><span class="convText">Female</span><br>
              <input type="radio" class="rButton" required="required" name="gender" value="0"><span class="convText">Other</span><br>
              <br>
              <p class="userData"> Age: </p>   
              <input type="range" min="17" max="100" value={{ age|safe }} id="ageInputId" class="slider" name="age" oninput="ageOutputId.value = ageInputId.value">
              <input name="ageOutputName" required="required" id="ageOutputId" placeholder={{ age|safe }}></input>   
              <br>              
              <p class="userData"> User Type: </p>
              <input type="radio" class="rButton" required="required" name="user type" value="1"> Subscription<br>
              <input type="radio" class="rButton" required="required" name="user type" value="0"> Customer<br>

              <br>      
              <input type="text" required="required" placeholder={{ end_station|safe }}, list="stations" name="end_station">

              <datalist id="stations">
                    <option value="W 82 St & Central Park West">
                    <option value="Cooper Square & E 7 St">
                    <option value="5 Ave & E 78 St">
                    <option value="Central Park West & W 68 St">
                    <option value="Broadway & W 60 St">
                    <option value="Broadway & W 37 St">
                    <option value="York St & Jay St">
                    <option value="Central Park West & W 72 St">
                    <option value="2 Ave & E 31 St">
                    <option value="5 Ave & E 29 St">
                    <option value="W 43 St & 6 Ave">
                    <option value="E 15 St & 3 Ave">
                    <option value="W 43 St & 10 Ave">
                    <option value="W 74 St & Columbus Ave">
                    <option value="W 54 St & 9 Ave">
                    <option value="Broadway & W 36 St">
                    <option value="Washington Pl & 6 Ave">
                    <option value="E 72 St & Park Ave">
                    <option value="Peck Slip & Front St">
                    <option value="E 2 St & Avenue B">
                    <option value="MacDougal St & Prince St">
                    <option value="W 52 St & 9 Ave">
                    <option value="E 40 St & 5 Ave">
                    <option value="Carmine St & 6 Ave">
                    <option value="W 56 St & 10 Ave">
                    <option value="W 38 St & 8 Ave">
                    <option value="8 Ave & W 31 St">
                    <option value="W 15 St & 7 Ave">
                    <option value="Hanson Pl & Ashland Pl">
                    <option value="Rivington St & Chrystie St">
                    <option value="E 47 St & 1 Ave">
                    <option value="E 32 St & Park Ave">
                    <option value="Grand Army Plaza & Plaza St West">
                    <option value="11 Ave & W 41 St">
                    <option value="W 27 St & 7 Ave">
                    <option value="W 25 St & 6 Ave">
                    <option value="E 16 St & Irving Pl">
                    <option value="14 St & 5 Ave">
                    <option value="Riverside Dr & W 82 St">
                    <option value="E 85 St & 3 Ave">
                    <option value="Broadway & Berry St">
                    <option value="W 76 St & Columbus Ave">
                    <option value="5 Ave & E 73 St">
                    <option value="Myrtle Ave & Lewis Ave">
                    <option value="E 48 St & 5 Ave">
                    <option value="Allen St & Stanton St">
                    <option value="E 103 St & Lexington Ave">
                    <option value="E 10 St & Avenue A">
                    <option value="St James Pl & Oliver St">
                    <option value="3 St & Prospect Park West">
                    <option value="W 107 St & Columbus Ave">
                    <option value="9 Ave & W 22 St">
                    <option value="W 78 St & Broadway">
                    <option value="Columbus Ave & W 72 St">
                    <option value="7 Ave & Park Pl">
                    <option value="Clark St & Henry St">
                    <option value="DeKalb Ave & Hudson Ave">
                    <option value="10 St & 5 Ave">
                    <option value="Henry St & Grand St">
                    <option value="S 5 Pl & S 4 St">
                    <option value="Central Park West & W 85 St">
                    <option value="E 11 St & 1 Ave">
                    <option value="E 20 St & 2 Ave">
                    <option value="Central Park West & W 76 St">
                    <option value="Atlantic Ave & Furman St">
                    <option value="Clinton Ave & Myrtle Ave">
                    <option value="John St & William St">
                    <option value="Clinton St & Joralemon St">
                    <option value="Spruce St & Nassau St">
                    <option value="E 51 St & Lexington Ave">
                    <option value="Greenwich Ave & Charles St">
                    <option value="Carlton Ave & Park Ave">
                    <option value="Broadway & Roebling St">
                    <option value="9 Ave & W 28 St">
                    <option value="E 23 St & 1 Ave">
                    <option value="Hudson St & Reade St">
                    <option value="West Drive & Prospect Park West">
                    <option value="W 52 St & 5 Ave">
                    <option value="E 11 St & 2 Ave">
                    <option value="West End Ave & W 107 St">
                    <option value="Clinton St & Centre St">
                    <option value="W 44 St & 5 Ave">
                    <option value="Broadway & E 14 St">
                    <option value="1 Ave & E 16 St">
                    <option value="E 31 St & 3 Ave">
                    <option value="E 61 St & Park Ave">
                    <option value="Monroe St & Bedford Ave">
                    <option value="6 St & 7 Ave">
                    <option value="Prospect Park West & 8 St">
                    <option value="Lefferts Pl & Franklin Ave">
                    <option value="W 42 St & Dyer Ave">
                    <option value="Johnson St & Gold St">
                    <option value="Watts St & Greenwich St">
                    <option value="Greenwich Ave & 8 Ave">
                    <option value="Pershing Square South">
                    <option value="E 58 St & 3 Ave">
                    <option value="Bank St & Washington St">
                    <option value="Lafayette St & E 8 St">
                    <option value="W 63 St & Broadway">
                    <option value="E 16 St & 5 Ave">
                    <option value="E 55 St & 3 Ave">
                    <option value="E 17 St & Broadway">
                    <option value="Cliff St & Fulton St">
                    <option value="Murray St & West St">
                    <option value="Graham Ave & Conselyea St">
                    <option value="E 4 St & 2 Ave">
                    <option value="E 5 St & Avenue C">
                    <option value="Washington St & Gansevoort St">
                    <option value="W 20 St & 8 Ave">
                    <option value="Graham Ave & Grand St">
                    <option value="Carroll St & Smith St">
                    <option value="W 34 St & 11 Ave">
                    <option value="Perry St & Bleecker St">
                    <option value="University Pl & E 14 St">
                    <option value="2 Ave & 9 St">
                    <option value="8 Ave & W 33 St">
                    <option value="Cathedral Pkwy & Broadway">
                    <option value="Old Fulton St">
                    <option value="Pearl St & Anchorage Pl">
                    <option value="President St & Henry St">
                    <option value="N 6 St & Bedford Ave">
                    <option value="Madison St & Clinton St">
                    <option value="W 26 St & 10 Ave">
                    <option value="DeKalb Ave & S Portland Ave">
                    <option value="Centre St & Chambers St">
                    <option value="Canal St & Rutgers St">
                    <option value="1 Ave & E 62 St">
                    <option value="St Marks Pl & 2 Ave">
                    <option value="E 24 St & Park Ave S">
                    <option value="W 49 St & 8 Ave">
                    <option value="E 52 St & 2 Ave">
                    <option value="E 12 St & 3 Ave">
                    <option value="45 Rd & 11 St">
                    <option value="Amsterdam Ave & W 79 St">
                    <option value="Suffolk St & Stanton St">
                    <option value="4 Ave & 9 St">
                    <option value="Halsey St & Tompkins Ave">
                    <option value="Clinton Ave & Flushing Ave">
                    <option value="W 20 St & 7 Ave">
                    <option value="Henry St & Atlantic Ave">
                    <option value="W 100 St & Manhattan Ave">
                    <option value="Clinton St & Grand St">
                    <option value="St Marks Pl & 1 Ave">
                    <option value="E 75 St & 3 Ave">
                    <option value="W 13 St & 5 Ave">
                    <option value="W 13 St & Hudson St">
                    <option value="Emerson Pl & Myrtle Ave">
                    <option value="Amsterdam Ave & W 66 St">
                    <option value="5 Ave & 3 St">
                    <option value="E 20 St & Park Ave">
                    <option value="W 95 St & Broadway">
                    <option value="W 22 St & 8 Ave">
                    <option value="W 11 St & 6 Ave">
                    <option value="W 16 St & The High Line">
                    <option value="Pershing Square North">
                    <option value="E 97 St & Madison Ave">
                    <option value="W 67 St & Broadway">
                    <option value="Lexington Ave & E 63 St">
                    <option value="12 St & 4 Ave">
                    <option value="W 26 St & 8 Ave">
                    <option value="S Portland Ave & Hanson Pl">
                    <option value="Division Ave & Hooper St">
                    <option value="W 64 St & West End Ave">
                    <option value="Madison Ave & E 82 St">
                    <option value="E 58 St & 1 Ave">
                    <option value="W 84 St & Columbus Ave">
                    <option value="Central Park W & W 96 St">
                    <option value="E 110 St & Madison Ave">
                    <option value="W 18 St & 6 Ave">
                    <option value="E 84 St & Park Ave">
                    <option value="E 30 St & Park Ave S">
                    <option value="Madison St & Montgomery St">
                    <option value="E 14 St & Avenue B">
                    <option value="W 45 St & 8 Ave">
                    <option value="Allen St & Rivington St">
                    <option value="W 37 St & 10 Ave">
                    <option value="W 70 St & Amsterdam Ave">
                    <option value="E 48 St & 3 Ave">
                    <option value="Milton St & Franklin St">
                    <option value="1 Ave & E 30 St">
                    <option value="6 Ave & W 33 St">
                    <option value="Broadway & W 32 St">
                    <option value="Leonard St & Church St">
                    <option value="9 Ave & W 45 St">
                    <option value="W 33 St & 7 Ave">
                    <option value="W 106 St & Amsterdam Ave">
                    <option value="Lexington Ave & E 29 St">
                    <option value="Mercer St & Bleecker St">
                    <option value="Baltic St & 5 Ave">
                    <option value="West St & Chambers St">
                    <option value="Bayard St & Baxter St">
                    <option value="W 42 St & 8 Ave">
                    <option value="Riverside Dr & W 72 St">
                    <option value="Columbia St & Rivington St">
                    <option value="E 19 St & 3 Ave">
                    <option value="Grand Army Plaza & Central Park S">
                    <option value="Willoughby St & Fleet St">
                    <option value="E 33 St & 2 Ave">
                    <option value="Banker St & Meserole Ave">
                    <option value="Great Jones St">
                    <option value="Allen St & Hester St">
                    <option value="Broadway & E 22 St">
                    <option value="W 4 St & 7 Ave S">
                    <option value="E 88 St & Park Ave">
                    <option value="W 39 St & 9 Ave">
                    <option value="Frost St & Meeker St">
                    <option value="Barclay St & Church St">
                    <option value="9 Ave & W 18 St">
                    <option value="5 Ave & E 93 St">
                    <option value="Smith St & 3 St">
                    <option value="Cleveland Pl & Spring St">
                    <option value="Forsyth St & Broome St">
                    <option value="E 109 St & 3 Ave">
                    <option value="E 72 St & York Ave">
                    <option value="W 37 St & 5 Ave">
                    <option value="Kent Ave & N 7 St">
                    <option value="Sullivan St & Washington Sq">
                    <option value="Front St & Maiden Ln">
                    <option value="Fulton St & Broadway">
                    <option value="W 104 St & Amsterdam Ave">
                    <option value="Broadway & W 24 St">
                    <option value="6 Ave & Canal St">
                    <option value="W 89 St & Columbus Ave">
                    <option value="Pier 40 - Hudson River Park">
                    <option value="Lispenard St & Broadway">
                    <option value="Scholes St & Manhattan Ave">
                    <option value="W 24 St & 7 Ave">
                    <option value="Franklin St & Dupont St">
                    <option value="E 25 St & 2 Ave">
                    <option value="11 Ave & W 59 St">
                    <option value="Bedford Ave & Nassau Ave">
                    <option value="14 St & 7 Ave">
                    <option value="E 9 St & Avenue C">
                    <option value="Union St & 4 Ave">
                    <option value="Lexington Ave & E 24 St">
                    <option value="W 84 St & Broadway">
                    <option value="E 13 St & Avenue A">
                    <option value="E 53 St & Madison Ave">
                    <option value="W 17 St & 8 Ave">
                    <option value="Lafayette Ave & Classon Ave">
                    <option value="Lewis Ave & Madison St">
                    <option value="N 8 St & Driggs Ave">
                    <option value="11 Ave & W 27 St">
                    <option value="Nostrand Ave & Myrtle Ave">
                    <option value="3 St & 7 Ave">
                    <option value="E 59 St & Madison Ave">
                    <option value="Union St & Nevins St">
                    <option value="Little West St & 1 Pl">
                    <option value="West End Ave & W 94 St">
                    <option value="Broadway & W 29 St">
                    <option value="Fulton St & Grand Ave">
                    <option value="Forsyth St & Canal St">
                    <option value="Fulton St & Washington Ave">
                    <option value="Pike St & Monroe St">
                    <option value="Amsterdam Ave & W 73 St">
                    <option value="Reade St & Broadway">
                    <option value="Pike St & E Broadway">
                    <option value="Bank St & Hudson St">
                    <option value="Huron St & Franklin St">
                    <option value="W 88 St & West End Ave">
                    <option value="1 Ave & E 78 St">
                    <option value="Greenwich St & Hubert St">
                    <option value="Central Park S & 6 Ave">
                    <option value="Degraw St & Hoyt St">
                    <option value="Cumberland St & Lafayette Ave">
                    <option value="Lafayette St & Jersey St">
                    <option value="Mott St & Prince St">
                    <option value="Stanton St & Chrystie St">
                    <option value="Hope St & Union Ave">
                    <option value="W 13 St & 6 Ave">
                    <option value="E 6 St & Avenue B">
                    <option value="W 53 St & 10 Ave">
                    <option value="Commerce St & Van Brunt St">
                    <option value="Metropolitan Ave & Meeker Ave">
                    <option value="Carroll St & 5 Ave">
                    <option value="8 Ave & W 16 St">
                    <option value="Catherine St & Monroe St">
                    <option value="Amsterdam Ave & W 82 St">
                    <option value="Lorimer St & Broadway">
                    <option value="W 92 St & Broadway">
                    <option value="Washington Pl & Broadway">
                    <option value="DeKalb Ave & Vanderbilt Ave">
                    <option value="Norfolk St & Broome St">
                    <option value="Avenue D & E 3 St">
                    <option value="Vesey Pl & River Terrace">
                    <option value="Driggs Ave & Lorimer St">
                    <option value="E 2 St & Avenue C">
                    <option value="LaGuardia Pl & W 3 St">
                    <option value="E 89 St & 3 Ave">
                    <option value="Riverside Dr & W 78 St">
                    <option value="N 11 St & Wythe Ave">
                    <option value="Cadman Plaza E & Red Cross Pl">
                    <option value="E 106 St & Madison Ave">
                    <option value="Union Ave & N 12 St">
                    <option value="E 80 St & 2 Ave">
                    <option value="Vernon Blvd & 50 Ave">
                    <option value="W 59 St & 10 Ave">
                    <option value="Willoughby Ave & Hall St">
                    <option value="W Broadway & Spring St">
                    <option value="Washington Ave & Park Ave">
                    <option value="Meserole Ave & Manhattan Ave">
                    <option value="E 51 St & 1 Ave">
                    <option value="W 31 St & 7 Ave">
                    <option value="Christopher St & Greenwich St">
                    <option value="Franklin St & W Broadway">
                    <option value="Howard St & Centre St">
                    <option value="Willoughby Ave & Tompkins Ave">
                    <option value="Central Park West & W 100 St">
                    <option value="Wythe Ave & Metropolitan Ave">
                    <option value="FDR Drive & E 35 St">
                    <option value="E 68 St & 3 Ave">
                    <option value="Berry St & N 8 St">
                    <option value="Prospect Pl & 6 Ave">
                    <option value="S 4 St & Wythe Ave">
                    <option value="Smith St & 9 St">
                    <option value="Mercer St & Spring St">
                    <option value="Kingston Ave & Herkimer St">
                    <option value="E 65 St & 2 Ave">
                    <option value="Myrtle Ave & Marcy Ave">
                    <option value="Duffield St & Willoughby St">
                    <option value="Rivington St & Ridge St">
                    <option value="Greenwich St & W Houston St">
                    <option value="Hoyt St & Warren St">
                    <option value="6 Ave & 9 St">
                    <option value="Schermerhorn St & Court St">
                    <option value="Union Ave & Jackson St">
                    <option value="E 3 St & 1 Ave">
                    <option value="W 100 St & Broadway">
                    <option value="W 21 St & 6 Ave">
                    <option value="1 Ave & E 18 St">
                    <option value="E 10 St & 5 Ave">
                    <option value="E 39 St & 2 Ave">
                    <option value="Reed St & Van Brunt St">
                    <option value="E 55 St & 2 Ave">
                    <option value="Stagg St & Union Ave">
                    <option value="Grand St & Greene St">
                    <option value="7 St & 3 Ave">
                    <option value="Bialystoker Pl & Delancey St">
                    <option value="Montrose Ave & Bushwick Ave">
                    <option value="Lawrence St & Willoughby St">
                    <option value="W 14 St & The High Line">
                    <option value="10 St & 7 Ave">
                    <option value="47 Ave & 31 St">
                    <option value="W 52 St & 11 Ave">
                    <option value="Warren St & Court St">
                    <option value="Water - Whitehall Plaza">
                    <option value="1 Ave & E 68 St">
                    <option value="Metropolitan Ave & Bedford Ave">
                    <option value="Cambridge Pl & Gates Ave">
                    <option value="N 12 St & Bedford Ave">
                    <option value="E 91 St & 2 Ave">
                    <option value="E 97 St & 3 Ave">
                    <option value="Atlantic Ave & Fort Greene Pl">
                    <option value="Verona Pl & Fulton St">
                    <option value="Macon St & Nostrand Ave">
                    <option value="Plaza St West & Flatbush Ave">
                    <option value="E 95 St & 3 Ave">
                    <option value="E 33 St & 5 Ave">
                    <option value="E 41 St & Madison Ave">
                    <option value="DeKalb Ave & Skillman St">
                    <option value="Dean St & 4 Ave">
                    <option value="Greenpoint Ave & Manhattan Ave">
                    <option value="E 7 St & Avenue A">
                    <option value="Grand St & Havemeyer St">
                    <option value="Columbus Ave & W 95 St">
                    <option value="E 2 St & 2 Ave E">
                    <option value="Division St & Bowery">
                    <option value="Centre St & Worth St">
                    <option value="Humboldt St & Varet St">
                    <option value="Fulton St & Rockwell Pl">
                    <option value="W 46 St & 11 Ave">
                    <option value="44 Dr & Jackson Ave">
                    <option value="Hicks St & Montague St">
                    <option value="E 91 St & Park Ave">
                    <option value="E 76 St & 3 Ave">
                    <option value="University Pl & E 8 St">
                    <option value="E 81 St & York Ave">
                    <option value="W 27 St & 10 Ave">
                    <option value="Stanton St & Mangin St">
                    <option value="Concord St & Bridge St">
                    <option value="Pioneer St & Van Brunt St">
                    <option value="Graham Ave & Withers St">
                    <option value="E 84 St & 1 Ave">
                    <option value="India St & Manhattan Ave">
                    <option value="Kent Ave & S 11 St">
                    <option value="6 Ave & Broome St">
                    <option value="Warren St & Church St">
                    <option value="E 55 St & Lexington Ave">
                    <option value="Clinton St & Tillary St">
                    <option value="E 6 St & Avenue D">
                    <option value="Jay St & Tech Pl">
                    <option value="E 68 St & Madison Ave">
                    <option value="W 87 St  & Amsterdam Ave">
                    <option value="Butler St & Court St">
                    <option value="Bushwick Ave & Powers St">
                    <option value="Front St & Washington St">
                    <option value="E 74 St & 1 Ave">
                    <option value="Grand St & Elizabeth St">
                    <option value="Nassau Ave & Newell St">
                    <option value="Monroe St & Tompkins Ave">
                    <option value="Douglass St & 4 Ave">
                    <option value="Division Ave & Marcy Ave">
                    <option value="E 25 St & 1 Ave">
                    <option value="Franklin Ave & Myrtle Ave">
                    <option value="MacDougal St & Washington Sq">
                    <option value="9 St & 44 Rd">
                    <option value="Brooklyn Bridge Park - Pier 2">
                    <option value="Leonard St & Boerum St">
                    <option value="E 85 St & York Ave">
                    <option value="E 43 St & 2 Ave">
                    <option value="Pearl St & Hanover Square">
                    <option value="Berkeley Pl & 6 Ave">
                    <option value="Douglass St & 3 Ave">
                    <option value="W 47 St & 10 Ave">
                    <option value="Greene Ave & Throop Ave">
                    <option value="Clermont Ave & Park Ave">
                    <option value="E 39 St & 3 Ave">
                    <option value="Adelphi St & Myrtle Ave">
                    <option value="Lafayette Ave & Fort Greene Pl">
                    <option value="W 106 St & Central Park West">
                    <option value="E 20 St & FDR Drive">
                    <option value="Fulton St & Clermont Ave">
                    <option value="Avenue D & E 8 St">
                    <option value="Congress St & Clinton St">
                    <option value="4 Ave & 2 St">
                    <option value="Railroad Ave & Kay Ave">
                    <option value="Cadman Plaza E & Tillary St">
                    <option value="1 Ave & E 94 St">
                    <option value="Greenwich St & Warren St">
                    <option value="Liberty St & Broadway">
                    <option value="E 27 St & 1 Ave">
                    <option value="Lexington Ave & Classon Ave">
                    <option value="Nassau St & Navy St">
                    <option value="William St & Pine St">
                    <option value="Montague St & Clinton St">
                    <option value="3 Ave & E 62 St">
                    <option value="E 47 St & Park Ave">
                    <option value="St James Pl & Pearl St">
                    <option value="South End Ave & Liberty St">
                    <option value="12 Ave & W 40 St">
                    <option value="Park Ave & Marcus Garvey Blvd">
                    <option value="6 Ave & 12 St">
                    <option value="Market St & Cherry St">
                    <option value="48 Ave & 5 St">
                    <option value="Driggs Ave & N Henry St">
                    <option value="Lafayette Ave & St James Pl">
                    <option value="Hancock St & Bedford Ave">
                    <option value="Cherry St">
                    <option value="Bus Slip & State St">
                    <option value="Central Park North & Adam Clayton Powell Blvd">
                    <option value="E 106 St & Lexington Ave">
                    <option value="State St & Smith St">
                    <option value="E 102 St & 1 Ave">
                    <option value="South St & Gouverneur Ln">
                    <option value="Bond St & Fulton St">
                    <option value="Clinton St & Union St">
                    <option value="E 11 St & Broadway">
                    <option value="Barrow St & Hudson St">
                    <option value="Carroll St & Columbia St">
                    <option value="Washington Ave & Greene Ave">
                    <option value="Henry St & Poplar St">
                    <option value="Avenue D & E 12 St">
                    <option value="Clermont Ave & Lafayette Ave">
                    <option value="5 St & 6 Ave">
                    <option value="South St & Whitehall St">
                    <option value="E 88 St & 1 Ave">
                    <option value="7 St & 5 Ave">
                    <option value="Riverside Blvd & W 67 St">
                    <option value="W 90 St & Amsterdam Ave">
                    <option value="Court St & State St">
                    <option value="Carroll St & 6 Ave">
                    <option value="3 Ave & E 71 St">
                    <option value="Broadway & Whipple St">
                    <option value="E 106 St & 1 Ave">
                    <option value="Pitt St & Stanton St">
                    <option value="Columbia St & Kane St">
                    <option value="E 60 St & York Ave">
                    <option value="Pacific St & Nevins St">
                    <option value="Bergen St & Smith St">
                    <option value="2 Ave  & E 104 St">
                    <option value="Riverside Dr & W 104 St">
                    <option value="E 81 St & 3 Ave">
                    <option value="Fulton St & Adams St">
                    <option value="S 3 St & Bedford Ave">
                    <option value="E 67 St & Park Ave">
                    <option value="Garfield Pl & 8 Ave">
                    <option value="Washington Park">
                    <option value="Lewis Ave & Kosciuszko St">
                    <option value="West Thames St">
                    <option value="Clinton St & 4 Place">
                    <option value="3 Ave & E 72 St">
                    <option value="Lewis Ave & Decatur St">
                    <option value="Queens Plaza North & Crescent St">
                    <option value="Duane St & Greenwich St">
                    <option value="Myrtle Ave & St Edwards St">
                    <option value="Kosciuszko St & Nostrand Ave">
                    <option value="Kane St & Clinton St">
                    <option value="Coffey St & Conover St">
                    <option value="5 Ave & E 88 St">
                    <option value="Carlton Ave & Flushing Ave">
                    <option value="Bond St & Schermerhorn St">
                    <option value="Harrison St & Hudson St">
                    <option value="Richardson St & N Henry St">
                    <option value="Broadway & Battery Pl">
                    <option value="Maiden Ln & Pearl St">
                    <option value="Front St & Gold St">
                    <option value="E 89 St & York Ave">
                    <option value="1 Ave & E 44 St">
                    <option value="McKibbin St & Manhattan Ave">
                    <option value="Columbia St & W 9 St">
                    <option value="E 102 St & Park Ave">
                    <option value="Nassau Ave & Russell St">
                    <option value="Henry St & Degraw St">
                    <option value="Marcy Ave & Lafayette Ave">
                    <option value="E 78 St & 2 Ave">
                    <option value="Richards St & Delavan St">
                    <option value="W 20 St & 11 Ave">
                    <option value="McGuinness Blvd & Eagle St">
                    <option value="E 66 St & Madison Ave">
                    <option value="E 35 St & 3 Ave">
                    <option value="S 4 St & Rodney St">
                    <option value="Van Brunt St & Wolcott St">
                    <option value="Fulton St & William St">
                    <option value="Throop Ave & Myrtle Ave">
                    <option value="46 Ave & 5 St">
                    <option value="Wolcott St & Dwight St">
                    <option value="Bergen St & Flatbush Ave">
                    <option value="East End Ave & E 86 St">
                    <option value="5 Ave & E 103 St">
                    <option value="Bedford Ave & S 9 St">
                    <option value="Central Park West & W 102 St">
                    <option value="Pioneer St & Richards St">
                    <option value="Columbia Heights & Cranberry St">
                    <option value="Columbia St & Degraw St">
                    <option value="E 53 St & Lexington Ave">
                    <option value="Old Slip & Front St">
                    <option value="Broad St & Bridge St">
                    <option value="Berkeley Pl & 7 Ave">
                    <option value="Union Ave & Wallabout St">
                    <option value="1 Pl & Clinton St">
                    <option value="E 47 St & 2 Ave">
                    <option value="Broadway & W 51 St">
                    <option value="Madison Ave & E 99 St">
                    <option value="Boerum St & Broadway">
                    <option value="21 St & 41 Ave">
                    <option value="3 St & 3 Ave">
                    <option value="Wyckoff St & 3 Ave">
                    <option value="E 81 St & Park Ave">
                    <option value="Court St & Nelson St">
                    <option value="Pulaski St & Marcus Garvey Blvd">
                    <option value="Carroll St & Bond St">
                    <option value="E 45 St & 3 Ave">
                    <option value="Degraw St & Smith St">
                    <option value="Putnam Ave & Throop Ave">
                    <option value="Willoughby Ave & Walworth St">
                    <option value="3 Ave & E 100 St">
                    <option value="Marcus Garvey Blvd & Macon St">
                    <option value="Greene Ave & Nostrand Ave">
                    <option value="Broadway & W 58 St">
                    <option value="Columbus Ave & W 103 St">
                    <option value="Fulton St & Utica Ave">
                    <option value="Dean St & Hoyt St">
                    <option value="Norman Ave & Leonard St">
                    <option value="Laight St & Hudson St">
                    <option value="E 76 St & Park Ave">
                    <option value="Broadway & W 55 St">
                    <option value="Roebling St & N 4 St">
                    <option value="Bond St & Bergen St">
                    <option value="Center Blvd & Borden Ave">
                    <option value="Henry St & W 9 St">
                    <option value="3 Ave & 14 St">
                    <option value="Jackson Ave & 46 Rd">
                    <option value="Kosciuszko St & Tompkins Ave">
                    <option value="Monroe St & Classon Ave">
                    <option value="Broadway & W 53 St">
                    <option value="Broadway & W 39 St">
                    <option value="Columbia St & Lorraine St">
                    <option value="Broadway & W 49 St">
                    <option value="W 45 St & 6 Ave">
                    <option value="3 Ave & Schermerhorn St">
                    <option value="21 St & 43 Ave">
                    <option value="8 Ave & W 52 St">
                    <option value="W 41 St & 8 Ave">
                    <option value="2 Ave & E 99 St">
                    <option value="Graham Ave & Herbert St">
                    <option value="Putnam Ave & Nostrand Ave">
                    <option value="Albany Ave & Fulton St">
                    <option value="Park Ave & St Edwards St">
                    <option value="31 St & Thomson Ave">
                    <option value="N 15 St & Wythe Ave">
                    <option value="Henry St & Bay St">
                    <option value="Penn Station Valet">
                    <option value="Tompkins Ave & Hopkins St">
                    <option value="NYCBS Depot BAL - DYR">
                    <option value="NYCBS Depot - STY">
                    <option value="Kiosk in a box Motivate">
                    <option value="India St & East River">
                    <option value="Bressler">
                    <option value="Sands St & Navy St">
                    <option value="NYCBS Depot - SSP">
                    <option value="3 St & Hoyt St">
                    <option value="W 52 St & 6 Ave">
                    <option value="NYCBS Depot - FAR">
                    <option value="5 Ave & E 63 St">
                    <option value="SSP Tech Workshop">
                    <option value="Sigourney St & Columbia St">
                    <option value="Broadway & W 41 St">
                    <option value="8D OPS 01">
                    <option value="NYCBS Depot - STY - Valet Scan">
                    <option value="NYCBS Depot - PIT">
                    <option value="Exchange Place">
                    <option value="E 71 St & 1 Ave">
                    <option value="21 St & Queens Plaza North">
                    <option value="Riverside Dr & W 89 St">
                    <option value="2 Ave & E 96 St">
                    <option value="Penn Station Valet - Valet Scan">
                    <option value="Dwight St & Van Dyke St">
                    <option value="Leonard St & Bayard St">
                    <option value="Bayard St & Leonard St">
                    <option value="Devoe St & Lorimer St">
                    <option value="W 22 St & 10 Ave">
                    <option value="Leonard St & Maujer St">
                    <option value="Essex Light Rail">
                    <option value="Newport Pkwy">
                    <option value="Morris Canal">
                    <option value="Schermerhorn St & 3 Ave">
                    <option value="Eckford St & Engert Ave">
                    <option value="E 2 St & 2 Ave">
                    <option value="10 Hudson Yards">
                    <option value="Jackson St & Leonard St">
                    <option value="Cadman Plaza West & Montague St">
                    <option value="W 13 St & 7 Ave">
                    <option value="Adventures NYC">
                    <option value="SSP - Basement">
                    <option value="Broadway & W 56 St">
                    <option value="Norman Ave & Leonard St - 2">
                    <option value="E 53 St & 3 Ave">
                    <option value="E 44 St & 2 Ave">
                    <option value="Industry City, Building 1 Basement">
                    <option value="Soissons Landing">
                    <option value="E 58 St & Madison Ave">
                    <option value="Yankee Ferry Terminal">
                    <option value="Newport PATH">
                    <option value="NYCBS Depot - GOW">
                    <option value="City Hall">
                    <option value="Van Vorst Park">
                    <option value="Riverview Park">
                    <option value="Paulus Hook">
                    <option value="E 15 St & Irving Pl">
                    <option value="JC Medical Center">
                    <option value="Heights Elevator">
                    <option value="GOW Tech Shop">
                    <option value="W 37 St & Broadway">
                    <option value="W 55 St & 6 Ave">
                    <option value="Murray St & Greenwich St">
                    <option value="Bike The Branches - Central Branch">
                    <option value="W 45 St & 6 Ave (1)">
                    <option value="NYCBS Depot - STY - Garage 4">
                    <option value="North St">
                    <option value="W 56 St & 6 Ave">
                    <option value="Liberty Light Rail">
                    <option value="Jersey & 3rd">
                    <option value="India St & West St">
                    <option value="E 82 St & East End Ave">
                    <option value="Gowanus Tech Station">
                    <option value="LPI Facility">
                    <option value="W 15 St & 10 Ave">
                    <option value="6 Ave & Spring St">
                    <option value="Manila & 1st">
                    <option value="Grove St PATH">
                    <option value="2 Ave & 36 St - Citi Bike HQ at Industry City">
                    <option value="39 St & 2 Ave - Citi Bike HQ at Industry City">
                    <option value="Riverside Dr & W 91 St">
                    <option value="Marin Light Rail">
                    <option value="Dey St">
                    <option value="Warren St">
                    <option value="E 93 St & 2 Ave">
                    <option value="Picnic Point">
                    <option value="NYCBS Depot - RIS">
                    <option value="Expansion Tech Station">
                    <option value="8D QC Station 01">
                    <option value="NYCBS DEPOT - DELANCEY">
                    <option value="W Broadway & Spring Street">
                    <option value="Gold St & Frankfort St">
                    <option value="Columbus Drive">
                    <option value="Newark Ave">
                    <option value="Hamilton Park">
                    <option value="York St">
                    <option value="Schermerhorn St & Bond St">
                    <option value="1 Ave & E 110 St">
                    <option value="Frederick Douglass Blvd & W 112 St">
                    <option value="E 115 St & Lexington Ave">
                    <option value="E 114 St & 1 Ave">
                    <option value="Pleasant Ave & E 116 St">
                    <option value="E 116 St & 2 Ave">
                    <option value="E 12 St & Avenue B">
                    <option value="3 Ave & E 112 St">
                    <option value="Lexington Ave & E 111 St">
                    <option value="E 115 St & Madison Ave">
                    <option value="W 113 St & Broadway">
                    <option value="Adam Clayton Powell Blvd & W 115 St">
                    <option value="Lenox Ave & W 115 St">
                    <option value="333 Johnson TEST 1">
                    <option value="W 116 St & Broadway">
                    <option value="Amsterdam Ave & W 119 St">
                    <option value="E 118 St & Madison Ave">
                    <option value="Lexington Ave & E 120 St">
                    <option value="E 118 St & 3 Ave">
                    <option value="Madison Ave & E 120 St">
                    <option value="Mt Morris Park W & W 120 St">
                    <option value="E 118 St & Park Ave">
                    <option value="Morningside Ave & W 123 St">
                    <option value="St Nicholas Ave & Manhattan Ave">
                    <option value="Broadway & W 122 St">
                    <option value="Adam Clayton Powell Blvd & W 123 St">
                    <option value="Lenox Ave & W 126 St">
                    <option value="E 123 St & Lexington Ave">
                    <option value="2 Ave & E 122 St">
                    <option value="St. Nicholas Ave & W 126 St">
                    <option value="Lenox Ave & W 130 St">
                    <option value="Broadway & Moylan Pl">
                    <option value="Frederick Douglass Blvd & W 129 St">
                    <option value="W 36 St & 9 Ave">
                    <option value="37 Ave & 35 St">
                    <option value="W 110 St & Amsterdam Ave">
                    <option value="Vernon Blvd & 41 Rd">
                    <option value="21 St & 36 Ave">
                    <option value="28 St & 38 Ave">
                    <option value="28 St & 36 Ave">
                    <option value="24 St & 41 Ave">
                    <option value="36 Ave & 10 St">
                    <option value="11 St & 35 Ave">
                    <option value="34 St & 35 Ave">
                    <option value="35 St & 34 Ave">
                    <option value="34 Ave & 38 St">
                    <option value="Crescent St & 35 Ave">
                    <option value="35 Ave & 37 St">
                    <option value="Vernon Blvd & 10 St">
                    <option value="Amsterdam Ave & W 125 St">
                    <option value="34 Ave & 21 St">
                    <option value="34 Ave & 13 St">
                    <option value="Park Ave & E 124 St">
                    <option value="31 St & Broadway">
                    <option value="Broadway & 12 St">
                    <option value="Fulton St & Waverly Ave">
                    <option value="21 St & 31 Dr">
                    <option value="Crescent St & Broadway">
                    <option value="Vernon Blvd & 31 Ave">
                    <option value="Vernon Blvd & 30 Rd">
                    <option value="31 Ave & 34 St">
                    <option value="31 Ave & 30 St">
                    <option value="31 Ave & Crescent St">
                    <option value="Newton Rd & 44 St">
                    <option value="Washington Street (Don't Use)">
                    <option value="Expansion Warehouse 333 Johnson Ave">
                    <option value="Harborsid">
                    <option value="NYCBS Depot - GOW Annex">
                    <option value="NJCU">
                    <option value="Cooper Square & Astor Pl">
                    <option value="W 87 St & Amsterdam Ave">
                    <option value="JSQ Don't Use">
                    <option value="WS Don't Use">
                    <option value="2 Ave & E 104 St">
                    <option value="Hs Don't Use">
                    <option value="30 Ave & 21 St">
                    <option value="Crescent St & 30 Ave">
                    <option value="43 St & Broadway">
                    <option value="Steinway St & 28 Ave">
                    <option value="35 St & Broadway">
                    <option value="27 Ave & 9 St">
                    <option value="31 Ave & 14 St">
                    <option value="Astoria Park S & Shore Blvd">
                    <option value="21 St & Hoyt Ave S">
                    <option value="Broadway & W 38 St">
                    <option value="Newtown Ave & 23 St">
                    <option value="Lenox Ave & W 111 St">
                    <option value="31 St & Astoria Blvd">
                    <option value="37 St & 24 Ave">
                    <option value="19 St & 24 Ave">
                    <option value="27 Ave & 4 St">
                    <option value="23 Ave & 27 St">
                    <option value="Steinway St & 23 Ave">
                    <option value="Broadway & W 25 St">
                    <option value="24 Ave & 29 St">
                    <option value="40 Ave & 9 St">
                    <option value="31 St & 23 Ave">
                    <option value="Crescent St & Ditmars Blvd">
                    <option value="Ditmars Blvd & 19 St">
                    <option value="E 98 St & Lexington Ave">
                    <option value="5 Ave & E 126 St">
                    <option value="Pacific St & Classon Ave">
                    <option value="Carlton Ave & Dean St">
                    <option value="Pacific St & Bedford Ave">
                    <option value="Underhill Ave & Pacific St">
                    <option value="Bergen St & Vanderbilt Ave">
                    <option value="Classon Ave & St Marks Ave">
                    <option value="Park Pl & Vanderbilt Ave">
                    <option value="Sterling Pl & Bedford Ave">
                    <option value="Grand Ave & Bergen St">
                    <option value="28 St & 41 Ave">
                    <option value="24 Ave & 26 St">
                    <option value="Underhill Ave & Lincoln Pl">
                    <option value="St Johns Pl & Washington Ave">
                    <option value="Prospect Pl & Underhill Ave">
                    <option value="28 Ave & 35 St">
                    <option value="Lincoln Pl & Classon Ave">
                    <option value="Franklin Ave & St Marks Ave">
                    <option value="Eastern Pkwy & Franklin Ave">
                    <option value="Carroll St & Franklin Ave">
                    <option value="Montgomery St & Franklin Ave OLD">
                    <option value="Franklin Ave & Empire Blvd">
                    <option value="Van Dyke St & Van Brunt St">
                    <option value="Sullivan Pl & Bedford Ave">
                    <option value="31 St & Hoyt Ave N">
                    <option value="E 41 St & 5 Ave">
                    <option value="Sterling St & Bedford Ave">
                    <option value="Center Blvd & 48 Ave">
                    <option value="21 St & 38 Ave">
                    <option value="Park Pl & Franklin Ave">
                    <option value="Union St & Bedford Ave">
                    <option value="Adam Clayton Powell Blvd & W 118 St">
                    <option value="27 St & Hunter St">
                    <option value="44 Dr & 21 St">
                    <option value="49 Ave & 21 St">
                    <option value="Eastern Pkwy & Washington Ave">
                    <option value="11 St & 43 Ave">
                    <option value="W 116 St & Amsterdam Ave">
                    <option value="Frederick Douglass Blvd & W 117 St">
                    <option value="Pleasant Ave & E 120 St">
                    <option value="Rogers Ave & Sterling St">
                    <option value="E 128 St & Madison Ave">
                    <option value="28 St & 40 Ave">
                    <option value="E 118 St & 1 Ave">
                    <option value="Carroll St & Washington Ave">
                    <option value="W 120 St & Claremont Ave">
                    <option value="Vernon Blvd & 47 Rd">
                    <option value="48 Ave & 30 Pl">
                    <option value="35 Ave & 10 St">
                    <option value="Leonard Gordon Park">
                    <option value="5 Corners Library">
                    <option value="Brunswick St">
                    <option value="Dixon Mills">
                    <option value="Lafayette Park">
                    <option value="Jersey & 6th St">
                    <option value="Harborside">
                    <option value="Crown St & Bedford Ave">
                    <option value="Astor Place">
                    <option value="Crescent St & 34 Ave">
                    <option value="Bedford Ave & Bergen St">
                    <option value="Flushing Ave & Vanderbilt Ave">
                    <option value="Convent Ave & W 129 St">
                    <option value="Lexington Ave & E 127 St">
                    <option value="W 129 St & Convent Ave">
                    <option value="8D Mobile 01">
                    <option value="Monmouth and 6th">
                    <option value="Communipaw & Berry Lane">
                    <option value="31 St & Northern Blvd">
                    <option value="31 St & 35 Ave">
                    <option value="Morningside Dr & Amsterdam Ave">
                    <option value="Pathmark Depot">
                  </datalist>
                  <br>
                  <input type="submit">
                </form>
            <br>
          </td>
        </tr>  
      <tr>
        <td>
        <p> </p>
        </td>
      </tr>
      <tr>
        <td>
          <p> </p>   
          <p> </p>
            <p> </p>
            <p> </p>
          <br>
        </td>
      </tr>
    </table>   
  </body>
</html>
